/*Importación de las variables globales */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Questrial&display=swap");
@import url("./global_variables.css");
@import url("./normalize.css");

.main-conocenos{
    margin-top: 210px; 
    background-color: var( --background-color);
}


.main-conocenos h2, .main-conocenos h4, .main-conocenos h5, .main-conocenos h6{
    font-family: var(--title-font);
    color: var(--color-title);
    size: 64px;
    margin: 0;
    padding: 0;
}

.main-conocenos p{
    line-height: 1.5; 
    font-family: var(--title-body);
    font-size: 20px;
    color: var(--color-text1);
}

/*Ajuste de pantallas*/
@media (max-width: 992px) {
  .main-conocenos{
    margin-top: 180px;
  }
}

@media (max-width: 576px) {
    .main-conocenos {
        margin-top: 150px;
    }
}

/*-----HISTORIA--------------------------------------------*/
/*---------BANNER SABOR--------*/
.historia-pastiara .banner-sabor {
    background-color: var(--color-banner); 
    padding: 3rem 0;
    position: relative;
    background-image: url('https://i.ibb.co/rRSPxPrd/Banner-largo.webp');
    
    /* Con "cover" la imagen se ajusta y llena el contenedor */
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
}

/* El título del banner debe estar sobre el fondo */
.historia-pastiara .banner-sabor .titulo-banner {
    position: relative;
    z-index: 1;
    color: var(--color-title2); 
    font-family: var(--title-font);
    size: 64px;
    margin: 0;
    padding: 0;
}

/*Contenido de historia de pastiara*/
.history-text{
    text-align: justify;
    margin-top: 0px;
}
.history-text-fighting{
  margin: 20px;
}

/*Modificación de la imagen de historia de pastiara*/
.img-historia{
  margin-top: 0px;
  margin-bottom: 0px;
  width: 450px;  
  height: 250px;  
  }
/* Ajustes para la imagen de historia en pantallas pequeñas (móviles) */
@media (max-width: 576px) {
    .img-historia {
        width: 300px; 
        height: auto; 
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* ----------------MISIÓN Y VISIÓN--------------------*/
/*-----IMAGEN----*/
/* Estilos para el contenedor principal con la imagen de fondo */
.titulo-card{
  padding-bottom: 10px;
}
.mision-vision-banner { 
    background: url('https://i.ibb.co/20Nf1vwq/Panadero.webp') no-repeat center center;
    background-size: cover; 
    position: relative;
    padding: 2rem 0;
    margin-top: 60px;
     
}
/* La capa de opacidad sobre la imagen */
.mision-vision-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: 0; 
}
.mision-vision-banner .container-mision-vision {
    position: relative;
    z-index: 1; /*Para que las tarjetas queden arriba de la opacidad */
    padding-top: 130px;
    padding-bottom: 70px;
    padding-left: 80px;
    padding-right: 80px;
}
/* Para tabletas */
@media (max-width: 992px) {
  .mision-vision-banner .container-mision-vision {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Para móviles */
@media (max-width: 576px) {
  .mision-vision-banner .container-mision-vision {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.card-mision-vision {
    background-color: var(--color-boton2); 
    position: relative; 
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    
}


/*---------------------VALORES----------------------------*/
.valores{
  margin-top: 70px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 0px;
}
.valores .card-valor {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 0;
    background-color: var( --color-boton2);
    margin-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.valores .titulo-card-valor {
    color: var(---color-text1);
    font-family: var(--title-body);
    font-weight: 600;
    font-size: 20px;
    
    
}
.valores .texto-card-valor {
  font-size: 20px;
  margin-bottom: 0;  
  margin-top: 0;     
  word-wrap: break-word;  /* fuerza que el texto no se desborde */
  line-height: 1.4;        
}

/* Ajustes en pantallas medianas */
@media (max-width: 992px) {
  .valores {
    margin-left: 30px;
    margin-right: 30px;
  }
  .valores .card-valor {
    padding: 15px;
    padding-bottom: 0; 
    
  }
  .valores .texto-card-valor {
  margin-bottom: 0;  
    
}
}

/* Ajustes en móviles */
@media (max-width: 576px) {
  .valores {
    margin-left: 20px;
    margin-right: 20px;
  }
  .valores .card-valor {
    padding: 15px;
    padding-bottom: 0;
   
  }
   .valores .texto-card-valor {
  margin-bottom: 0;  
  font-size: 16px;
}
.valores .titulo-card-valor {
    font-size: 16px;
}
}

/* Ajustes en móviles de pantallas iguales o menores a 360px*/
@media (max-width: 360px) {
  .valores .card-valor {
    padding: 7px;
    padding-bottom: 0;
   
  }
   .valores .texto-card-valor {
  margin-bottom: 0;  
  font-size: 16px;
}
.valores .titulo-card-valor {
    font-size: 16px;
}
}
/*----------------------CARRUSEL-------------------------*/
/* Estilos para la sección principal */
.equipo-conocenos {
  padding: 30px 0; 
  margin-top: 20px;
}

/* Estilos para el encabezado "Nuestro equipo" */
.equipo-conocenos h2 {
  font-family: var(--title-font);
  color: var(--color-title); 
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}

/* Estilos para el contenedor del carrusel */
.equipo-conocenos .carousel {
  position: relative;
  background-image: url('https://i.ibb.co/xqNnkntM/masa-boleando.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; /* Oculta cualquier cosa que se salga del contenedor */
}

/* La capa de opacidad sobre la imagen */
.equipo-conocenos .carousel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); 
  z-index: 0;
}

/* Añade un espacio interior a cada diapositiva para que el contenido no toque los bordes */
 .equipo-conocenos .carousel-item {
    padding: 0 15px; 
}

/* Altura constante y tamaño de fuente en pantallas pequeñas (móviles) */
@media (max-width: 700px) {
    .descripcion-container {
        min-height: 700px; /* Mantén una altura fija para evitar el desplazamiento */
    }
    .paste-member{
        text-align: center;
    }
}

/* Estilos para el contenido de cada slide */
 .equipo-conocenos .carousel-item .row {
  position: relative;
  z-index: 1; 
  padding: 40px;
}

/* Estilos para la foto de perfil */
 .profile-pic-conocenos{
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Asegura un tamaño fijo para todas las imágenes */
  width: 250px;  
  height: 500px; 
  max-width: none;  /* Anula el max-width del navbar */
  /*ayuda a que las imágenes no se deformen */
  object-fit: cover;

}

/* Estilos para el contenedor de la descripción */
 .descripcion-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  
}


/* Estilos para el nombre de la persona debajo de la foto */
 .carousel-item h4 {
  font-family: var(--title-font);
  color: var(--color-text1); 
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Estilos para los botones de navegación del carrusel */
 .carousel-control-prev, .carousel-control-next {
  width: 5%;
  opacity: 1;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: none;
  font-size: 3rem;
  color: var(--color-tarjeta-valores);
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
  
}

.carousel-control-prev-icon::before {
  content: '<';
}

 .carousel-control-next-icon::before {
  content: '>';
}
 .paste-member{
    color: var(--color-text1);
    font-weight: 600;
}

/*Modificaciones para los controles de navegación horizontales*/
 .carousel-indicators [data-bs-target] {
    background-color: var(--color-boton1);
}

 .carousel-indicators button {
    background-color: #5f391c; 
    opacity: 0.5;
    width: 20px; 
    height: 6px; 
}


/*Modificaciones ESPECÍFICAS para cuando la pantalla sea de 500 píxeles o menos con una media query*/
/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .carousel-control-prev {
        /* left para un control más preciso del espaciado */
        left: 10px;
    }
    
    .carousel-control-next {
        /*right para un control más preciso del espaciado */
        right: 10px;
    }
}


/*---Imagen del carrusel---*/
/* ajustar imagenes del carrusel*/
 .description-member{
  text-align: justify;
}

#miCarrusel{
  color: va(--color-boton1);
}


/*---------------------ANIMACIONES para utilizar JavaScript-------------------------*/
/* Estilos para el efecto de scroll */
.fade-in {
    opacity: 0;
    transform: translateY(20px); /* para un efecto de movimiento */
    transition: opacity 1s ease-out, transform 0.8s ease-out;
}

.fade-in.is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* AJUSTES DE PADDING - Al final para mayor prioridad */

/* Reduce espacio inferior de la descripción */
.equipo-conocenos .descripcion-container p:last-child {
    margin-bottom: 0; /* Elimina margen del último párrafo */
}
/* Reduce espacio del titulo paste-member */
.equipo-conocenos .paste-member {
    color: var(--color-text1);
    font-weight: 600;
    margin-bottom: 10px;
}